.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 0.75rem;
}

.title {
  font: var(--font-heading);
  margin-top: 3rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.noTasks {
  font: var(--font-body);
}
