.tag {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.pfp {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.name {
  font: var(--font-body);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
